<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Definition for javaCollection -->
    <bean id="javaCollection" class="setCollection.JavaCollection">
        <property name="addressList">
            <list>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>

        <property name="addressSet">
            <set>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <property name="addressMap">
            <map>
                <entry key="1" value="USA"></entry>
                <entry key="2" value="USA"></entry>
            </map>
        </property>
        
        <property name="addressProp">
            <props>
                <prop key="1">USA</prop>
                <prop key="2">USA</prop>
            </props>
        </property>
    </bean>


</beans>